@using WorkOfFiction.Models
@model CompositionFilter

<h2>Filter</h2>


@using (Html.BeginForm("Index", "Composition", FormMethod.Get))
{
    <div class="form-group row">
        <label for="partialTextTitleInput" class="col-sm-2 col-form-label">Composition title</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="@Model.partialTextTitle" name="partialTextTitle" id="partialTextTitleInput" placeholder="title"/>
        </div>
    </div>

    @Html.Partial("_checkBoxPicker", model: Model.Genres, 
        viewData: new ViewDataDictionary { { "Name", "genre" }, { "FormInputName", "SelectedGenres" }, { "NamePlural", "Genres"} })

    @Html.Partial("_checkBoxPicker", model: Model.Authors, 
        viewData: new ViewDataDictionary { { "Name", "author" }, { "FormInputName", "SelectedAuthors" }, { "NamePlural", "Authors"} })

    @Html.Partial("_checkBoxPicker", model: Model.Types, 
        viewData: new ViewDataDictionary { { "Name", "type" }, { "FormInputName", "SelectedTypes" }, { "NamePlural", "Types"} })

    @Html.Partial("_checkBoxPicker", model: Model.Langs, 
        viewData: new ViewDataDictionary { { "Name", "lang" }, { "FormInputName", "SelectedLangs" }, { "NamePlural", "Langs"} })

    <button type="submit" class ="btn btn-success">Apply</button>
}